<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About us</h2>
               
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p class="about-content">
                    Living Hope Ministries was birthed in the City of Miraj. Niteen & Vandana, a
                    young couple zealous
                    for the Lord decided to come to Miraj on 18th May, 1997 with a desire to reach out to the unreached
                    people for Christ.
                    God has blessed the work of their hands. Today they have grown to three churches.
                </p>
            </div>
            <div class="col-lg-4 about-content">
                <p>
                    They have faithfully reached out to the community by having an English Medium School, Prison
                    ministry, Translation work, new Lyricist, Authors, music band, ministry amongst doctors,
                    producing praise and worship CDs etc.
                    Asha Ministries is a social endeavor of Living Hope Ministries. This ministry caters to the social
                    needs of the underprivileged and marginalized society.
                </p>
            </div>
          
        </div>
        <h4 class="text-center quote"> Love God & Be Blessed or Do not Love and receive Curse - Niteen Dongre</h4>
      
    </div>
  
</section>