<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-lcc">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="modal-body" id="Modallcc">
                        <h2 class="lcc-title">Living Community Church</h2>
                        <!--<hr class="star-primary">-->
                        <hr />
                        <!--<img src="../../Content/img/portfolio/alpha-school.png" class="img-responsive img-centered" alt="">-->
                        <p class="white-para">
                            In May 1997, Niteen and Vandana were led to a small town called Miraj in the state of
                            Maharashtra as missionaries. They heard God calling them in October 1996 at an Evangelistic
                            meeting at Kodoli and
                            decided to move accordingly. The journey wasn’t easy, but God was
                            with them. By His grace, the work flourished.
                        </p>
                        <p class="white-para">
                            Now there are three churches in Miraj, Shirol and Kolhapur, English Medium School, Youth
                            fellowship, Children’s
                            Ministry, Prison Ministry, Translation work, Praise and Worship Album as well as an album
                            for Sunday school, Book writing, Bible study for Doctors of Wanless
                            Hospital, Counselling Center for
                            the married and for youth and Daily Encouraging message on cell phones.
                        </p>

                        <!--<ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-asha">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="asha-title">asha ministries </h2>
                        <hr />
                        <!--<hr class="star-primary">
                        <img src="../../Content/img/portfolio/cake.png" class="img-responsive img-centered" alt="">-->
                        <!--<img src="../../Content/img/portfolio/asha.jpg" class="img-responsive img-centered" alt=""/>-->
                        <ul class="asha-project white-para">
                            <li>Project Boondh</li>
                            <p>Organizing blood donation camps once year and meeting needs of needy people.</p>
                            <li>Project Roti</li>
                            <p>
                                Reaching out to 1000 poor and hungry people on streets, railway station & ST stand with
                                food.
                            </p>
                            <li>Project Shiksha</li>
                            <p>Sponsoring orphan and needy children for education.</p>
                            <li>Project Sutka</li>
                            <p>
                                Computer Training Centre, Value Education programs, medical camps etc. in the midst of
                                Sangli Prison inmates.
                            </p>
                        </ul>
                    </div>
                    <!--<p>Use this area of the page to describe your project. The icon above is part of a free icon set
                        by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                        download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                        only $12!</p>-->
                    <!--<ul class="list-inline item-details">
                        <li>Client:
                            <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                            </strong>
                        </li>
                        <li>Date:
                            <strong><a href="http://startbootstrap.com">April 2014</a>
                            </strong>
                        </li>
                        <li>Service:
                            <strong><a href="http://startbootstrap.com">Web Development</a>
                            </strong>
                        </li>
                    </ul>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-jw">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="jw-title">Just Worship</h2>
                        <!--<hr class="star-primary">-->
                        <!--<hr/>-->
                        <!--<img src="../../Content/img/portfolio/circus.png" class="img-responsive img-centered" alt="">-->
                        <hr />
                        <p class="white-para">
                            Just worship is not only a band but a ministry to teach how to worship ,it began in 2012
                            when we performed our first ever concert,bringing people from all denominations under one roof,
                            many were touched by the holy spirit,since then we decided to do this often.
                            We are constantly putting our efforts in bringing out new things and new ways to worship our living God, By Translating English songs in Hindi like
                            <br />
                            <span><a href="https://www.youtube.com/watch?v=u5RC6uD6h3A" class="video-link" target="_blank">"Masih tu Kafi Hai"</a></span>
                            which is <span style="font-style: italic">" Christ is Enough "</span> by Hillsongs. <br />
                            Our Purpose being very clear to Serve God,Glorify his
                            name through the talents he has given us & to reach out to the nation through Praise &
                            Worship.
                        </p>
                        <!--<ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-school">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="school-title">alpha international</h2>
                        <!--<hr class="star-primary">
                        <img src="../../Content/img/portfolio/game.png" class="img-responsive img-centered" alt="">-->
                        <hr />
                        <p class="white-para">
                            “Good School is the beginning of success” is our tagline. More than 1000 children have
                            studied at this school since the year 2006.
                            Alpha international School had it’s humble beginning at Niteen and Vandana’s home in the
                            year 2005 with 25 children. Today the Lord has blessed them with a beautiful school building
                            and they teach more than 100 children. Vandana looks after the School as Principal along
                            with 7 staff. The school is highly appreciated within the community in miraj.
                        </p>
                        <!--<ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>